body {
  font-family: 'Muli', sans-serif !important;
  /* margin: 0 auto;*/
  background-color: #268480; }

#main-wrapper {
  width: 100%;
  margin: 0 auto; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.banner {
  height: 80px;
  text-align: center;
  background-color: #747576; }
  .banner h2 {
    color: white;
    padding-top: 30px;
    font-size: 24px; }

#header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #268480; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 60px;
  padding: 15px 2% 0 2%; }
  header * {
    display: inline-block; }
  header .logo-wrap {
    float: left;
    width: 17%; }
  header #main-nav {
    float: left;
    color: white;
    margin-left: auto;
    font-size: 14px;
    text-align: right;
    position: relative;
    top: 20px; }
    header #main-nav li {
      margin: 0 10px; }
  header .subscribe-wrap {
    margin-left: 13px;
    float: left;
    position: relative;
    top: 15px; }
    header .subscribe-wrap .email-input, header .subscribe-wrap .subscribe-btn {
      display: inline-block;
      height: 20px;
      border-radius: 5px; }
    header .subscribe-wrap .email-input {
      font-style: italic;
      padding: 0 20px; }
    header .subscribe-wrap .subscribe-btn {
      background-color: #ffe103;
      border-style: none;
      vertical-align: middle;
      height: 23px; }

#splash {
  width: 100%;
  /* padding: 0 2%;*/
  background: url(../assets/background_images/Background_banner.jpg);
  background-size: contain;
  background-position: center; }
  #splash main {
    margin: 40px; }
  #splash .main-header, #splash .main-content {
    display: inline-block;
    margin: 50px 2% 0 2%; }
  #splash .main-header {
    width: 36%;
    color: #eee;
    vertical-align: top; }
    #splash .main-header h1 {
      font-size: 39px;
      margin: 20px 0;
      line-height: 1.3em; }
    #splash .main-header p {
      color: #b5e9e7;
      font-size: 24px;
      margin: 40px 0;
      line-height: normal; }
    #splash .main-header button {
      width: 60%;
      background-color: #ffe103;
      font-size: 24px;
      color: #000;
      text-decoration: none;
      padding: 10px 20px;
      border-style: none;
      border-radius: 5px;
      font-family: 'Muli'; }
    #splash .main-header .blockchain-btn {
      display: inline-block;
      width: 59%;
      margin-top: 10px;
      padding: 10px 0px;
      background-color: rgba(66, 166, 161, 0.5);
      border: 2px solid #70DED8;
      border-radius: 5px;
      color: white;
      font-size: 18px;
      text-decoration: none;
      text-align: center; }
  #splash .main-content {
    width: 55%;
    font-size: 24px;
    color: #ffe103; }
    #splash .main-content .blockchain-btn {
      display: inline-block;
      width: 100%;
      background-color: #6AACA9;
      color: #ffe103;
      font-size: 24px;
      text-decoration: none;
      text-align: center;
      border-radius: 5px 5px 0 0; }
      #splash .main-content .blockchain-btn .sub-header {
        color: white;
        font-style: italic;
        font-size: 18px; }
      #splash .main-content .blockchain-btn span {
        display: block;
        padding-top: 5px; }
    #splash .main-content video {
      border-radius: 5px; }
    #splash .main-content h2 {
      margin-top: 10px; }
    #splash .main-content p {
      font-size: 15.99984px;
      color: #eee;
      margin-top: 10px; }
  #splash #sponsors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 80px;
    background-color: #f3f3f3;
    opacity: .63; }
    #splash #sponsors figure {
      display: inline-block;
      width: 90%;
      margin-top: 24px; }

#services {
  width: 100%;
  background: url(../assets/background_images/Background_services_1300x870.jpg);
  background-size: contain;
  background-position: center;
  font-size: 24px;
  padding-bottom: 40px; }
  #services h2 {
    text-align: center;
    padding-top: 40px;
    color: #747576; }
  #services #services-wrap {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 50px auto 0 auto;
    padding: 0 20px; }
    #services #services-wrap .service-box {
      width: 30%;
      position: relative;
      left: 60px; }
      #services #services-wrap .service-box figure {
        width: 60%; }
      #services #services-wrap .service-box p {
        width: 75%;
        height: 120px;
        margin-top: 20px; }
      #services #services-wrap .service-box button {
        position: relative;
        width: 50%;
        background-color: #68dbd6;
        font-size: 12px;
        color: #eee;
        text-decoration: none;
        padding: 10px 20px;
        border-style: none;
        border-radius: 5px;
        font-family: inherit; }

#media-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto; }
  #media-section .title-card {
    margin-right: -13px;
    z-index: 1 !important;
    width: 248px;
    height: 236px; }
  #media-section .media-contain {
    z-index: 0; }

#sponsor-quotes {
  padding-top: 60px;
  background-color: #52b6b6; }
  #sponsor-quotes .quote-contain {
    display: flex;
    justify-content: space-around; }
    #sponsor-quotes .quote-contain figure {
      width: 35%; }
    #sponsor-quotes .quote-contain .quote {
      width: 50%;
      margin-top: 30px;
      vertical-align: middle; }
      #sponsor-quotes .quote-contain .quote h3 {
        font-size: 24px;
        color: white;
        text-align: center; }
      #sponsor-quotes .quote-contain .quote blockquote {
        width: 70%;
        position: relative;
        margin: 0 auto;
        font-size: 30px;
        margin-top: 80px;
        text-align: center;
        color: white; }
        #sponsor-quotes .quote-contain .quote blockquote:before {
          position: absolute;
          content: "\201C";
          font-size: 400%;
          display: block;
          top: -60px;
          left: 186px; }
      #sponsor-quotes .quote-contain .quote p {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 18px;
        margin-top: 30px;
        font-style: italic; }

#cta-banner {
  background-color: #eee;
  padding: 40px 0; }
  #cta-banner h1 {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    color: #747576;
    font-weight: 700;
    font-size: 39px; }
  #cta-banner button {
    width: 30%;
    background-color: #68dbd6;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    font-family: 'Muli'; }
  #cta-banner button {
    display: block;
    margin: 0 auto;
    color: #eee; }

#main-footer {
  background-color: #4e4f53;
  text-align: center;
  color: white;
  padding-bottom: 30px;
  font-size: 14px; }
  #main-footer .content-wrap {
    width: 40%;
    margin: 0 auto; }
    #main-footer .content-wrap h2 {
      font-size: 24px;
      color: white;
      padding-top: 30px; }
    #main-footer .content-wrap #social-list {
      width: 50%;
      margin: 30px auto 0 auto;
      padding-bottom: 30px;
      border-bottom: 1px solid grey;
      display: flex;
      justify-content: space-around; }
      #main-footer .content-wrap #social-list li {
        width: 15%; }
    #main-footer .content-wrap #site-map {
      width: 100%;
      margin: 30px auto 0 auto;
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;
      font-size: 13.99999px;
      color: white; }
    #main-footer .content-wrap .message-button {
      display: inline-block;
      width: 100%;
      padding: 15px 0 15px 0;
      border-radius: 5px;
      margin-top: 30px;
      background-color: #ffe103;
      color: #4e4f53;
      text-decoration: none;
      font-size: 24px; }

/*# sourceMappingURL=main.css.map */
