$temp-bg-color-main: #268480;
$path-to-assets: "../assets";
$main-font-size: 24px;
$main-cta-color: #ffe103;
$alt-cta-color: #68dbd6;
$alt-text-color: #b5e9e7;

@mixin join-cta-button($bg-color, $width, $font-size) {
    button {
        width: $width;
        background-color: $bg-color;
        font-size: $font-size;
        color: #000;
        text-decoration: none;
        padding: 10px 20px;
        border-style: none;
        border-radius: 5px;
        font-family: inherit;
    }
}

body {
    font-family: 'Muli', sans-serif !important;
    /* margin: 0 auto;*/
    background-color: $temp-bg-color-main;
    // max-width: 1240px;
    // margin: 0 auto;
}

#main-wrapper {
    // font-family: 'Muli', sans-serif !important;
    // /* margin: 0 auto;*/
    // background-color: $temp-bg-color-main;
    max-width: 1240px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.banner {
    height: 80px;
    text-align: center;
    background-color: #747576;
    h2 {
        padding-top: 30px;
        font-size: $main-font-size;
    }
}

#header-wrap {
    position: fixed;
    // margin: 0 auto 30px auto;
    top: 0;
    // left: 0;
    z-index: 1000;
    background-color: black;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    height: 60px;
    padding: 15px 2% 0 2%;
    * {
        display: inline-block;
    }
    .logo-wrap {
        float: left;
        width: 17%;
    }
    #main-nav {
        float: left;
        color: white;
        margin-left: auto;
        font-size: $main-font-size * .5833333;
        text-align: right;
        position: relative;
        top: 20px;
        li {
            margin: 0 10px;
        }
    }
    .subscribe-wrap {
        margin-left: 13px;
        float: left;
        position: relative;
        top: 15px;
        .email-input, .subscribe-btn {
            display: inline-block;
            height: 20px;
            border-radius: 5px;
        }
        .email-input {
            font-style: italic;
            padding: 0 20px;
        }
        .subscribe-btn {
            background-color: $main-cta-color;
            border-style: none;
            vertical-align: middle;
            height: 23px;
        }
    }
}

#splash {
    width: 100%;
    /* padding: 0 2%;*/
    background: url(#{$path-to-assets}/background_images/Background_banner.jpg);
    background-size: contain;
    background-position: center;
    // margin-top: 40px;
    main {
        margin: 40px;
    }
    .main-header, .main-content {
        display: inline-block;
        margin: 50px 2% 0 2%;
    }
    .main-header {
        width: 36%;
        color: #eee;
        vertical-align: top;
        h1 {
            font-size: $main-font-size * 1.625;
            margin: 20px 0;
            line-height: 1.3em;
        }
        p {
            color: $alt-text-color;
            font-size: $main-font-size;
            margin: 40px 0;
        }
        @include join-cta-button($main-cta-color, 60%, $main-font-size);
    }
    .main-content {
        width: 55%;
        font-size: $main-font-size;
        color: $main-cta-color;
        video {
            border-radius: 5px;
        }
        h2 {
            margin-top: 10px;
        }
        p {
            font-size: $main-font-size * .5833333;
            color: #eee;
            margin-top: 15px;
        }
    }
    #sponsors {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        height: 80px;
        background-color: #f3f3f3;
        opacity: .63;
        figure {
            display: inline-block;
        }
    }
}

#services {
    width: 100%;
    background: url(#{$path-to-assets}/background_images/Background_services.jpg);
    background-size: contain;
    background-position: center;
    font-size: $main-font-size;
    padding-bottom: 80px;
    h2 {
        text-align: center;
        padding-top: 80px;
    }
    #services-wrap {
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 50px auto 0 auto;
        padding: 0 20px;
        .service-box {
            width: 30%;
            margin: 0 auto;
            figure {
                width: 60%;
            }
            p {
                width: 75%;
                height: 120px;
                margin-top: 20px;
            }
            button {
                position: relative;
                width: 50%;
                background-color: $alt-cta-color;
                font-size: $main-font-size/2;
                color: #eee;
                text-decoration: none;
                padding: 10px 20px;
                border-style: none;
                border-radius: 5px;
                font-family: inherit;
            }
        }
    }
}

#media-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    .title-card {
        margin-right: -13px;
        z-index: 1 !important;
        width: 20%;
        height: 236px;
    }
    .media-contain {
        // width: 20%;
        z-index: 0;
    }
}

#sponsor-quotes {
    margin-top: 60px;
    .quote-contain {
        figure {
            float: left;
            width: 50%;
        }
        .quote {
            width: 50%;
            margin-top: 30px;
            float: left;
            vertical-align: middle;
            h3 {
                font-size: $main-font-size;
                color: white;
                text-align: center;
            }
            blockquote {
                width: 70%;
                position: relative;
                margin: 0 auto;
                font-size: $main-font-size * 1.25;
                margin-top: 80px;
                text-align: center;
                color: white;
                &:before {
                    position: absolute;
                    content: "\201C";
                    font-size: 400%;
                    display: block;
                    top: -60px;
                    left: 186px;
                }
            }
        }
    }
}
